/* img{
    height: 50%;
    width: 70%;
    margin-top: 3rem;
    margin-right:6rem;
} */
img{
    height: 50%;
    width: 50%;
    object-fit: contain;
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}