<h5>Danger-ilmoitus</h5>
<div class="alert alert-danger    align-items-center "  role="alert">
    <div class="conatiner">
        <div class="row row-cols-auto">
        <div class="col"><fa-icon [icon]="bones" class="thumb"></fa-icon></div>
        <div class="col"><h1>Warning</h1></div>
    </div>
      </div>
    <hr> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat beatae repudiandae et reprehenderit, fugit in laboriosam temporibus similique tempore deserunt, blanditiis, doloribus dolor accusamus assumenda? Magnam, incidunt? Inventore, suscipit veniam.</p>
    </div>
