.dsp-btn{
    text-align: center;

margin-top: 2rem;
margin-left: 30rem;
margin-bottom: 1rem;}

.lorem{

     margin: 1.5rem;
     padding: 2.5rem;
     background-color: lightgray;
     color: black;
}

.number{
    text-align: center;
}

.array{
    color:  white;
}



